In [1]:
import numpy as np
import pandas as pd
import random

# Create dummy data

### Lab results

In [2]:
results = pd.DataFrame(columns=['stay_id', 'value', 'itemid', 'charttime'])
results

Empty DataFrame
Columns: [stay_id, value, itemid, charttime]
Index: []

In [3]:
results.stay_id = random.choices(range(100, 200), k=500)
results.value = np.random.uniform(low=0.0, high=100.0, size=(500,))

# Seven tests => itemid ranges from 0 to 6 
results.itemid = random.choices(range(0,6), k=500)

In [4]:
# Generate timestamps
def random_dates(start, end, n):

    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

start = pd.to_datetime('2015-01-01')
end = pd.to_datetime('2018-01-01')
results.charttime = random_dates(start, end, results.shape[0])

In [5]:
results.dtypes

stay_id               int64
value               float64
itemid                int64
charttime    datetime64[ns]
dtype: object

In [6]:
results.head()

   stay_id      value  itemid           charttime
0      155  69.394981       2 2015-07-27 01:05:22
1      187  35.076911       4 2017-04-25 23:06:27
2      168  88.338128       4 2017-04-07 00:43:58
3      151  34.331397       4 2017-08-11 10:57:36
4      125  34.096140       4 2017-06-08 05:43:35

### Admission time

In [7]:
adm = pd.DataFrame(columns=['stay_id', 'intime'])
adm.stay_id = results.stay_id.copy()

In [8]:
start = pd.to_datetime('2015-01-01')
end = pd.to_datetime('2017-12-31')

adm.intime = random_dates(start, end, adm.shape[0])

In [9]:
adm.head()

   stay_id              intime
0      155 2015-06-14 05:11:33
1      187 2017-06-04 15:17:01
2      168 2017-12-29 05:29:57
3      151 2016-05-30 18:43:54
4      125 2016-01-11 16:41:37

### Summary stats

In [10]:
results.stay_id.nunique()

100

In [11]:
results.groupby('itemid').size()

itemid
0    86
1    91
2    81
3    84
4    84
5    74
dtype: int64

In [12]:
results.groupby('stay_id').size()

stay_id
100    6
101    4
102    4
103    6
104    5
      ..
195    2
196    6
197    7
198    7
199    9
Length: 100, dtype: int64

In [13]:
results.groupby('stay_id').itemid.nunique()

stay_id
100    4
101    4
102    4
103    4
104    3
      ..
195    2
196    5
197    4
198    5
199    4
Name: itemid, Length: 100, dtype: int64

In [14]:
assert (results.groupby('stay_id').size() >= results.groupby('stay_id').itemid.nunique()).all()
(results.groupby('stay_id').size() > results.groupby('stay_id').itemid.nunique()).sum()

72

### Save data

In [15]:
results.to_csv('../data/dummy_results.csv', index=False)
adm.to_csv('../data/dummy_admissions.csv', index=False)