In [3]:
import numpy as np
import pandas as pd

In [5]:
results = pd.read_csv('../data/dummy_results.csv')
adm = pd.read_csv('../data/dummy_admissions.csv')

In [6]:
results.head()

   stay_id      value  itemid            charttime
0      155  69.394981       2  2015-07-27 01:05:22
1      187  35.076911       4  2017-04-25 23:06:27
2      168  88.338128       4  2017-04-07 00:43:58
3      151  34.331397       4  2017-08-11 10:57:36
4      125  34.096140       4  2017-06-08 05:43:35

In [7]:
adm.head()

   stay_id               intime
0      155  2015-06-14 05:11:33
1      187  2017-06-04 15:17:01
2      168  2017-12-29 05:29:57
3      151  2016-05-30 18:43:54
4      125  2016-01-11 16:41:37

# Calculate $\Delta t$
### Calculate the time difference between two subsequent tests for each variable

In [86]:
results[results.stay_id==102]

     stay_id      value  itemid           charttime
5        102  21.398330       5 2016-11-19 23:53:52
31       102  79.965600       5 2017-09-16 19:43:46
32       102  24.614858       4 2017-06-09 05:13:25
135      102  34.314561       1 2017-08-26 11:48:59
218      102  24.583962       0 2016-12-26 18:24:33
351      102   4.325022       1 2017-03-24 09:21:17
405      102  86.380554       1 2015-04-12 12:04:05
467      102  16.159906       5 2017-10-01 07:14:35

In [87]:
results.groupby(['stay_id', 'itemid']).charttime.diff()

0                     NaT
1                     NaT
2                     NaT
3                     NaT
4                     NaT
              ...
495                   NaT
496   -237 days +21:22:28
497                   NaT
498   -671 days +04:20:29
499                   NaT
Name: charttime, Length: 500, dtype: timedelta64[ns]

### Calculate the time difference between the ICU admission and the first test for each var

In [ ]:
___
# Calculate $\Delta t$
### Calculate the time difference between two subsequent tests for each variable

results[results.stay_id==102]

results.groupby(['stay_id', 'itemid']).charttime.diff()

### Calculate the time difference between the ICU admission and the first test for each var